*.sqlite
*.sqlite.xz
/dataset
*.sqlite-journal
/*.json
/*.torrent
.ipynb_checkpoints
/result
/cache
/fast_vacuum.exe
/fast_vacuum
/import.sh
/import.bat
/retrieve.sh
/retrieve.bat

__pycache__
*.py[co]
/*.egg-info
*.srctrlbm
*.srctrldb
build
dist
.eggs
monkeytype.sqlite3
/.ipynb_checkpoints
